@media only screen and ((min-width: 1024px)and (max-width:2000px)){
.charts{
    width: calc(100% - 200px);
    /* height: 100%; */
    gap: 100px;
    display: flex;
    padding: 20px 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.piechart{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 90px;
    align-items: center;
}
.barchart{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    gap: 90px;
    justify-content: space-around;
    align-items: center;
}
.names{
    font-size: 54px;
    text-transform: uppercase;
    position: relative;
    text-shadow: -15px 5px 20px #ced0d3;
    color: black;
    /* letter-spacing: -0.25em; */
    /* font-family: 'Anton', Arial, sans-serif; */
    user-select: none;
    /* text-transform: uppercase; */
    /* font-size: 150px; */
    transition: all 0.25s ease-out;
}
.names:hover{
    text-shadow: -16px 6px 15px black;
}
.plots{
    width: 50%;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    padding: 36px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.hover {
    --b: 0.1em;   /* the thickness of the line */
    --c: #615d6e; /* the color */
    font-size: 54px;
    text-transform: uppercase;
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .hover:hover {
    --_p: 100%;
    --_s: .3s;
  }
}
  @media only screen and ((min-width: 768px)and (max-width:1024px)){
	.charts {
		width: calc(100% - 160px);
		/* height: 100%; */
		gap: 100px;
		display: flex;
		padding: 20px 80px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
	}
	.piechart {
		/* width: 100%; */
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		gap: 55px;
		align-items: center;
	}
	.hover {
		--b: 0.1em;
		--c: #615d6e;
		font-size: 40px;
		text-transform: uppercase;
		color: #0000;
		padding-block: var(--b);
		background: linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
		-webkit-background-clip: text,padding-box;
		background-clip: text,padding-box;
		transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
	}
    .hover:hover {
        --_p: 100%;
        --_s: .3s;
      }
	.plots {
		width: 50%;
		background-color: white;
		cursor: pointer;
		border-radius: 20px;
		height: fit-content;
		display: flex;
		padding: 0px 0px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.barchart {
		/* width: 100%; */
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		gap: 55px;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and ((min-width: 320px)and (max-width:768px)){
    .css-1jkcq86-MuiResponsiveChart-container {
        width: 265px;
        height: 163px;
    }
    .css-1jkcq86-MuiResponsiveChart-container {
        width: 400px;
         height: 400px;
    }
	.charts {
		width: calc(100% - 100px);
    /* height: 100%; */
    gap: 100px;
    display: flex;
    padding: 10px 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

	}
	.piechart {
		    /* width: 100%; */
            display: flex;
            flex-direction: column;
            gap: 35px;
            align-items: center;
            justify-content: center;
        
	}
	.hover {
		--b: 0.1em;
		--c: #615d6e;
		font-size: 30px;
		text-transform: uppercase;
		color: #0000;
		padding-block: var(--b);
		background: linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
		-webkit-background-clip: text,padding-box;
		background-clip: text,padding-box;
		transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
	}
    .hover:hover {
        --_p: 100%;
        --_s: .3s;
      }
	.plots {
        width: 100%;
        background-color: white;
        cursor: pointer;
        border-radius: 20px;
        /* display: flex; */
        padding: 15px 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
	}
	.barchart {
	/*	width: 100%; */
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 55px;
    justify-content: center;
    align-items: center;
	}
}

@media only screen and ((min-width: 2000px)){
    .css-1jkcq86-MuiResponsiveChart-container {
        width: 600px;
         height: 400px;
    }
    .charts{
        width: calc(100% - 300px);
        height: 100%;
        gap: 100px;
        display: flex;
        padding: 40px 150px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .piechart{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        gap: 90px;
        align-items: center;
    }
    .barchart{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        gap: 90px;
        justify-content: space-around;
        align-items: center;
    }
    .names{
        font-size: 54px;
        text-transform: uppercase;
        position: relative;
        text-shadow: -15px 5px 20px #ced0d3;
        color: black;
        /* letter-spacing: -0.25em; */
        /* font-family: 'Anton', Arial, sans-serif; */
        user-select: none;
        /* text-transform: uppercase; */
        /* font-size: 150px; */
        transition: all 0.25s ease-out;
    }
    .names:hover{
        text-shadow: -16px 6px 15px black;
    }
    .plots{
        width: 50%;
        background-color: white;
        cursor: pointer;
        height: 100%;
        border-radius: 20px;
        display: flex;
        padding: 0px 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    
    }
    .hover {
        --b: 0.1em;
        --c: #615d6e;
        font-size: 85px;
        text-transform: uppercase;
        color: #0000;
        padding-block: var(--b);
        background: linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
        -webkit-background-clip: text,padding-box;
        background-clip: text,padding-box;
        transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
      }
      .hover:hover {
        --_p: 100%;
        --_s: .3s;
      }
    }