.show{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
   }
 .css-1u0lry5-MuiChartsLegend-root {
    display: flex;
    }
    .barchart-title{
        display: flex;
        align-items: center;
        justify-content: center;
      }