body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width:100%;
	height:100vh;
	background-color: #e5e5e5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.fullHeight{
	width:100%;
	background-color: #e5e5e5;
	height:100%;
}
#root{
	width:100%;
	height: 100%;
}

@media only screen and (min-width: 768px){
	.charts {
		width: calc(100% - 160px);
		/* height: 100%; */
		gap: 100px;
		display: flex;
		padding: 0 80px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
	}
	.piechart {
		/* width: 100%; */
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		gap: 55px;
		align-items: center;
	}
	.hover {
		--b: 0.1em;
		--c: #615d6e;
		font-size: 40px;
		text-transform: uppercase;
		color: #0000;
		padding-block: var(--b);
		background: linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
		-webkit-background-clip: text,padding-box;
		background-clip: text,padding-box;
		transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
	}
	.plots {
		width: 50%;
		background-color: white;
		/* cursor: pointer; */
		border-radius: 20px;
		height: fit-content;
		display: flex;
		/* padding: 36px 10px; */
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.barchart {
		/* width: 100%; */
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		gap: 55px;
		justify-content: center;
		align-items: center;
	}
}