.role-container{
  background-color: white;
  height:89%;
  display: flex;
  justify-content: center;
}
.table-container{
  height: fit-content;
  margin-top:30px;
}

.menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn-user:disabled{
  .delete-icon{
    color: grey;
  }
}
.delete-icon{
  color: red;
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainerContent{
  color:white;
  font-size: 20px;
}

ul{
  list-style: none;
}